/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/

// Alerts
.alert {
	text-align: center;
	padding: $pad;
	margin-bottom: $space-half;
	border: 1px solid $am-yellow;
	background: lighten($am-yellow, 30%);
	font-family: $font-secondary;
	font-weight: bold;
}

.alert-error {
	color: $white;
	border-color: $am-yellow;
	background: $am-red;
}