@font-face {
  src: url("fonts/RoslindaleVariable-VF.eot");
  /* IE < 9 */
  src: url("fonts/RoslindaleVariable-VF.eot?#") format("embedded-opentype"), url("fonts/RoslindaleVariable-VF.woff2") format("woff2"), url("fonts/RoslindaleVariable-VF.woff") format("woff");
  font-family: 'RoslindaleVariable';
  font-style: normal;
  font-weight: bold; }
@font-face {
  src: url("fonts/Roslindale-DisplayUltra.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DisplayUltra.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DisplayUltra.woff2") format("woff2"), url("fonts/Roslindale-DisplayUltra.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 900; }
@font-face {
  src: url("fonts/Roslindale-DisplayCondensedExtraLight.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DisplayCondensedExtraLight.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DisplayCondensedExtraLight.woff2") format("woff2"), url("fonts/Roslindale-DisplayCondensedExtraLight.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 200; }
@font-face {
  src: url("fonts/Roslindale-DisplayCondensedExtraLightItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DisplayCondensedExtraLightItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DisplayCondensedExtraLightItalic.woff2") format("woff2"), url("fonts/Roslindale-DisplayCondensedExtraLightItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 200; }
@font-face {
  src: url("fonts/Roslindale-DisplayCondensedLight.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DisplayCondensedLight.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DisplayCondensedLight.woff2") format("woff2"), url("fonts/Roslindale-DisplayCondensedLight.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 300; }
@font-face {
  src: url("fonts/Roslindale-DisplayCondensedLightItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DisplayCondensedLightItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DisplayCondensedLightItalic.woff2") format("woff2"), url("fonts/Roslindale-DisplayCondensedLightItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 300; }
@font-face {
  src: url("fonts/Roslindale-DisplayCondensedRegular.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DisplayCondensedRegular.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DisplayCondensedRegular.woff2") format("woff2"), url("fonts/Roslindale-DisplayCondensedRegular.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal; }
@font-face {
  src: url("fonts/Roslindale-DisplayCondensedItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DisplayCondensedItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DisplayCondensedItalic.woff2") format("woff2"), url("fonts/Roslindale-DisplayCondensedItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal; }
@font-face {
  src: url("fonts/Roslindale-DisplayCondensedMedium.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DisplayCondensedMedium.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DisplayCondensedMedium.woff2") format("woff2"), url("fonts/Roslindale-DisplayCondensedMedium.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 500; }
@font-face {
  src: url("fonts/Roslindale-DisplayCondensedMediumItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DisplayCondensedMediumItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DisplayCondensedMediumItalic.woff2") format("woff2"), url("fonts/Roslindale-DisplayCondensedMediumItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 500; }
@font-face {
  src: url("fonts/Roslindale-DisplayCondensedSemiBold.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DisplayCondensedSemiBold.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DisplayCondensedSemiBold.woff2") format("woff2"), url("fonts/Roslindale-DisplayCondensedSemiBold.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 600; }
@font-face {
  src: url("fonts/Roslindale-DisplayCondensedSemiBoldItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DisplayCondensedSemiBoldItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DisplayCondensedSemiBoldItalic.woff2") format("woff2"), url("fonts/Roslindale-DisplayCondensedSemiBoldItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 600; }
@font-face {
  src: url("fonts/Roslindale-DisplayCondensedBold.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DisplayCondensedBold.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DisplayCondensedBold.woff2") format("woff2"), url("fonts/Roslindale-DisplayCondensedBold.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: bold; }
@font-face {
  src: url("fonts/Roslindale-DisplayCondensedBoldItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DisplayCondensedBoldItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DisplayCondensedBoldItalic.woff2") format("woff2"), url("fonts/Roslindale-DisplayCondensedBoldItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: bold; }
@font-face {
  src: url("fonts/Roslindale-DeckNarrowRegular.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DeckNarrowRegular.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DeckNarrowRegular.woff2") format("woff2"), url("fonts/Roslindale-DeckNarrowRegular.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal; }
@font-face {
  src: url("fonts/Roslindale-DeckNarrowItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DeckNarrowItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DeckNarrowItalic.woff2") format("woff2"), url("fonts/Roslindale-DeckNarrowItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal; }
@font-face {
  src: url("fonts/Roslindale-DeckNarrowMedium.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DeckNarrowMedium.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DeckNarrowMedium.woff2") format("woff2"), url("fonts/Roslindale-DeckNarrowMedium.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 500; }
@font-face {
  src: url("fonts/Roslindale-DeckNarrowMediumItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DeckNarrowMediumItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DeckNarrowMediumItalic.woff2") format("woff2"), url("fonts/Roslindale-DeckNarrowMediumItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 500; }
@font-face {
  src: url("fonts/Roslindale-DeckNarrowSemiBold.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DeckNarrowSemiBold.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DeckNarrowSemiBold.woff2") format("woff2"), url("fonts/Roslindale-DeckNarrowSemiBold.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 600; }
@font-face {
  src: url("fonts/Roslindale-DeckNarrowSemiBoldItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DeckNarrowSemiBoldItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DeckNarrowSemiBoldItalic.woff2") format("woff2"), url("fonts/Roslindale-DeckNarrowSemiBoldItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 600; }
@font-face {
  src: url("fonts/Roslindale-DeckNarrowBold.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DeckNarrowBold.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DeckNarrowBold.woff2") format("woff2"), url("fonts/Roslindale-DeckNarrowBold.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: bold; }
@font-face {
  src: url("fonts/Roslindale-DeckNarrowBoldItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-DeckNarrowBoldItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-DeckNarrowBoldItalic.woff2") format("woff2"), url("fonts/Roslindale-DeckNarrowBoldItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: bold; }
@font-face {
  src: url("fonts/Roslindale-TextRegular.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-TextRegular.eot?#") format("embedded-opentype"), url("fonts/Roslindale-TextRegular.woff2") format("woff2"), url("fonts/Roslindale-TextRegular.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal; }
@font-face {
  src: url("fonts/Roslindale-TextItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-TextItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-TextItalic.woff2") format("woff2"), url("fonts/Roslindale-TextItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal; }
@font-face {
  src: url("fonts/Roslindale-TextMedium.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-TextMedium.eot?#") format("embedded-opentype"), url("fonts/Roslindale-TextMedium.woff2") format("woff2"), url("fonts/Roslindale-TextMedium.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 500; }
@font-face {
  src: url("fonts/Roslindale-TextMediumItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-TextMediumItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-TextMediumItalic.woff2") format("woff2"), url("fonts/Roslindale-TextMediumItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 500; }
@font-face {
  src: url("fonts/Roslindale-TextSemiBold.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-TextSemiBold.eot?#") format("embedded-opentype"), url("fonts/Roslindale-TextSemiBold.woff2") format("woff2"), url("fonts/Roslindale-TextSemiBold.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 600; }
@font-face {
  src: url("fonts/Roslindale-TextSemiBoldItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-TextSemiBoldItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-TextSemiBoldItalic.woff2") format("woff2"), url("fonts/Roslindale-TextSemiBoldItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 600; }
@font-face {
  src: url("fonts/Roslindale-TextBold.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-TextBold.eot?#") format("embedded-opentype"), url("fonts/Roslindale-TextBold.woff2") format("woff2"), url("fonts/Roslindale-TextBold.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: bold; }
@font-face {
  src: url("fonts/Roslindale-TextBoldItalic.eot");
  /* IE < 9 */
  src: url("fonts/Roslindale-TextBoldItalic.eot?#") format("embedded-opentype"), url("fonts/Roslindale-TextBoldItalic.woff2") format("woff2"), url("fonts/Roslindale-TextBoldItalic.woff") format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: bold; }
