body {
	background: $white;
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	color: $gray-dark;
}
div[role=main] {
		/*display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: $pad-double;*/
		width: auto;
		margin: $space auto 0;
	.hp-firstcol {
		width: 50%;
		float: left;
	}
	.block-hero, .g {
	}
	.g {
		padding:0;
		margin:0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: $pad;
		.gi {
			padding: 0;
			width: 100%;
		}
	}
	.l-three-col {
		width: 48%;
		float: right;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: $pad-double;
		border-left: 1px solid $am-gray;
		.latest-posts {
			margin: 0 0 0 $space;
		}
		h2 {
			&.section-title {
				color: $am-blue;
			}
			&.b-title {
				font-size: $font-size-med-2;
			}
		}
	}
	.l-two-col {
		width: 100%;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-column-gap: $pad-double;
		h2 {
			&.section-title {
				color: $am-blue;
			}
		}
	}
}
.l-sidebar {
	border-left: 1px solid $am-gray;
	padding: 0 0 0 $pad;
}
.othernavlinks {
	font-size: $font-size-small-2;
	font-family: $font-secondary;
	display: block;
	padding: 0 0 $pad-half;
	a {
		text-decoration: underline;
		color: $am-blue;
	}
}
.ad {
	&.tower {
		display: block;
		margin: $space auto;
	}
}
.article {
		div[role=main] {
			grid-template-columns: 1fr;
			.l-two-col {
				display: grid;
				grid-template-columns: 3fr 1fr;
				grid-column-gap: $pad-double;
				width: 100%;
				margin: $space auto 0;
				.l-sidebar {
					width: 100%;
				}
			}
		.block-hero, .g {
		}
	}
}